{
  "extends": ["eslint:recommended", "airbnb-base", "prettier"],
  "ignorePatterns": ["dist", "node_modules"],
  "env": {
    "node": true,
    "jasmine": true,
    "jquery": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "prefer-template": "off",
    "no-var": 1,
    "no-unused-vars": 1,
    "camelcase": 1,
    "no-nested-ternary": 1,
    "no-console": 1,
    "no-template-curly-in-string": 1,
    "no-self-compare": 1,
    "import/prefer-default-export": 0,
    "arrow-body-style": 1,
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": false
      }
    ]
  },
  "globals": {
    "browser": false,
    "window": true,
    "document": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configuration/webpack.common.js"
      }
    }
  }
}
