@import "variables";

.bg-light-grey {
    background-color: rgb(196, 196, 196);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-light-green {
    background-color: var(--light-green);
}

.txt-blue {
    color: var(--success-color);
}

.txt-green {
    color: var(--benefit-color);
}

.txt-black {
    color: #000;
}

.txt-grey {
    color: #4A4A4A;
}

.txt-white {
    color: #FFF;
}

.bg-main {
    --color: #E5E5E5;
    background-color: var(--color);
}

.link-color {
    color: var(--success-color);
}

.bg-primary {
    background-color: var(--primary);
}