.burger-btn {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  &::before {
    transform: translateY(-.4rem);
  }
  &::after {
    transform: translateY(.4rem);
  }
}

/* ANIMATION */
#burger-btn-check:checked+.burger-btn>.burger {
  background: transparent;
  box-shadow: none;
  &::before,
  &::after{
    top: 0;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
    flex-grow: 1;
  }
}