:root {
    --primary: #471CBE;
    --padding-base: 12px;
    --default-rounded: 6px;
    --success-color: #1F64EB;
    --primary-color: #471CBE;
    --light-blue: #C7D8FA;
    --benefit-color: #42A215;
    --light-green: #E3F1DC;
    --white: #FFFFFF
}

input {
    border: 1px solid;
    outline: none;
    --line-height: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

p::after {
  content: "\a";
  white-space: pre;
}

p,
span,
a {
    line-height: var(--line-height);
}

p::after {
    content: "\a";
    white-space: pre;
}

.container,
.row {
    width: 100%;
    padding: var(--padding-base);
}

.col {
    padding: var(--padding-base);
}
.padding-none{
    padding: 0;
}

.burger-btn {
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: .5rem;
}

.burger-icon {
    position: relative;
    width: .75rem;
    height: 2px;
    background-color: black;
    border-radius: 5px;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    width: .75rem;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-icon::before {
    transform: translateY(-.4rem);
}

.burger-icon::after {
    transform: translateY(.4rem);
}

/* ANIMATION */
#burger-btn-check:checked+.burger-btn>.burger-icon {
    background: transparent;
    box-shadow: none;
}

#burger-btn-check:checked+.burger-btn>.burger-icon::before {
    transform: rotate(45deg);
    top: 0;
}

#burger-btn-check:checked+.burger-btn>.burger-icon::after {
    transform: rotate(-45deg);
    top: 0;
    flex-grow: 1;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-light-grey {
    background-color: rgb(196, 196, 196);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-light-green {
    background-color: var(--light-green);
}

.txt-blue {
    color: var(--success-color);
}

.txt-green {
    color: var(--benefit-color)
}

.txt-black {
    color: #000;
}

.txt-grey {
    color: #4A4A4A;
}

.txt-white {
    color: #FFF;
}

.txt-center {
    text-align: center;
}

.active {
    border-bottom: 4px solid var(--primary-color);
}

.txt-bold {
    font-weight: bold;
}

.input {
    width: 100%;
    outline: none;
    border: 1px solid #E5E5E5;
}

.bg-main {
    --color: #E5E5E5;
    background-color: var(--color);
}

.p-0 {
    padding: calc(var(--padding-base) * 1.125);
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.shadow-hover:hover {
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.rounded {
    border-radius: var(--default-rounded);
}

.link-color {
    color: var(--success-color);
}

.grey-border {
    border: 1px solid #F5F5F5;
}

.link {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-blue {
  background-color: var(--success-color);
}

.bg-white {
  background-color: var(--white);
}

.txt-strike{
    text-decoration: line-through;
}

.bg-container{
    background-color: var(--white);
}

.txt-light-grey {
    color: #4A4A4A;
}

.bg-black-transparent {
    background-color: rgba(0,0,0,.3);
}