$sizes: (
  xs: 3px,
  s: 6px,
  m: 9px,
  l: 12px,
  xl: 15px,
);

@each $size, $value in $sizes {
  .rounded-#{$size} {
    border-radius: $value;
  }

  .rounded-top-#{$size} {
    border-radius: $value $value 0 0;
  }

  .rounded-bottom-#{$size} {
    border-radius: 0 0 $value $value;
  }
}