$color-list: (
  orange: rgba(255, 100, 42, 1), //ProductPage-bg-orange
  primary-lighter: rgba(215, 200, 254, 1), //ChooseItemTitle-bg-light-primary
  primary-light: rgba(95, 37, 253, 1),
  primary: rgba(71, 28, 190, 1),
  primary-dark: rgba(47, 18, 127, 1),
  dark: rgb(51, 51, 51), //root, color de texto por defecto SearchHelp-color-black
  light: rgba(245, 245, 245, 1), //ProductPage-bg-light-grey
  light-grey: rgba(204, 204, 204, 1), // SearchHelp-placeholder-light-gray::placeholder color OffersPage-bg-light-grey ProductPage-bg-grey switch-bar-s-off ConfirmClassification-bg-main-light ChooseItemTitle-bg-light-primary
  grey: rgba(173, 173, 173, 1), //ProductPage-txt-light-grey ChooseItemTitle color ChooseItemTitle-placeholder-gray::placeholder color OffersPage-txt-light-grey ProductList-txt-light-grey color
  dark-grey: rgba(102, 102, 102, 1), //txt-grey-copyright, checkItem bg-color, DefensaConsumidor-container color
  lighter-blue: rgba(227, 237, 251, 1), //InfoVotation-bg-light-blue
  light-blue: rgba(199, 216, 250, 1), //ChooseItemTitle-btn-disabled:disabled bg-color
  blue: rgba(52, 131, 250, 1), //InfoVotation-txt-blue
  success: rgba(31, 100, 235, 1), //switch-bar-s-on background-color Stores-input-selected border
  benefit: rgba(66, 162, 21, 1), //bg-green
  light-green: rgba(227, 241, 220, 1), //txt-light-green
  transparent: transparent,
);

:root {
  --padding-base: 12px;
  --default-rounded: 6px;
  @each $name, $color in $color-list{
    --#{$name}: #{$color};
  }
}